/**********************************************
          Controls
***********************************************/

.background-container  {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: -1000;
}

.background-graphic  {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}
