.card {
  width: 280px;
  height: 300px;
  margin: 8px 8px 8px 8px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px black;
}

.card:hover  {
  box-shadow: 0px 0px 30px #619ddb;
  cursor: pointer;
}

.card:hover .card-title-container {
  background: #619ddb;
}

.card-data {
  width: 100%;
  height: 260px;
  background: #dce4e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.data {
  font-size: 16px;
  margin-bottom: 2px;
}

.card-title-container {
  width: 100%;
  height: 40px;
  background: #1b1f2a;
  align-items: center;
  display: flex;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-title {
  font-size: 14px;
  color: #FFF;
}

.cardSelected  {
  width: 280px;
  height: 300px;
  margin: 8px 8px 8px 8px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px red;
}
