/**********************************************
          Card Display
***********************************************/

.card-display {
  width: 100%;
}

@keyframes card-display-slide-open {
  0% {
    margin-top: -2000px;
  }
  100% {
    margin-top: 0px;
  }
}

.top-placeholder  {
  width: 100%;
  height: 220px;
}

.card-container {
  width: 98%;
  height: 70vh;
  background: #FFF;
  opacity: .95;
  border-radius: 10px;
  box-shadow: 0px 0px 16px black;
  margin: auto;
  animation-duration: 5s;
  animation-name: card-display-slide-open;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
