
.compare-overlay  {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #FFF;
  opacity: .8;
  animation-name: compare-overlay-slide-open;
  animation-duration: 1s;
}

@keyframes compare-overlay-slide-open {
  0% {
    top: -2000px;
  }
  100% {
    top: 0px;
  }
}

.compare-outer-container  {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  animation-name: compare-overlay-slide-open;
  animation-duration: 2s;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compare-container  {
  width: 300px;
  height: 380px;
  box-shadow: 0px 0px 30px black;
  border-radius: 10px;
  background: #dce4e7;
  animation-name: compare-overlay-slide-open;
  animation-duration: 1s;
}

.compared-title {
  font-size: 20px;
  color: #FFF;
  background: #1b1f2a;
  text-align: center;
  padding: 20px 0 10px 0;
  margin-bottom: 20px;
}

.district1  {
  font-size: 30px;
  color: #1b1f2a;
  text-align: center;
  padding: 20px 0 20px 0;
}

.compared  {
  font-size: 30px;
  color: #1b1f2a;
  text-align: center;
  padding: 20px 0 20px 0;
}

.district2  {
  font-size: 30px;
  color: #1b1f2a;
  text-align: center;
  padding: 20px 0 20px 0;
}

.close-button {
  width: 100px;
  height: 40px;
  margin: auto;
  margin-top: 24px;
  background: #1b1f2a;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 30px black;
  border-radius: 10px;
}

.close-button:hover {
  cursor: pointer;
  background: red;
}

.close-button-title {
  font-size: 14px;
  color: #FFF;
}
