/**********************************************
          Controls
***********************************************/

.header {
  width: 100%;
  height: 200px;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 1s;
  animation-name: header-slide-open;
}

@keyframes header-slide-open {
  0% {
    margin-top: -300px;
  }
  100% {
    margin-top: 0px;
  }
}

.header-container {
  width: 98%;
  height: 92%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 16px black;
}

.header-container-background  {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #dce4e7;
  /*background: #fff;*/
  opacity: .9;
  z-index: -1;
}

.controls-header  {
  width: 60%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1s;
  animation-delay: 0s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.title-container  {
  width: 100%;
  height: 60%;
  background: #1b1f2a;
  box-shadow: 0px 0px 3px black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:3s;
  animation-delay: 0s;
}

.title{
  color: #dce4e7;
  color: #FFF;
  font-size: 370%;
  animation-duration: 2s;
  animation-name: title-grow;
}

@keyframes title-grow {
  0% {
    font-size: 0%;
  }
  100% {
    font-size: 370%;
  }
}

.input-container  {
  width: 99%;
  height: 40%;
  font-size: 20px;
  background: #dce4e7;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 3s;
  animation-name: input-slide-open;
}

@keyframes input-slide-open {
  0% {
    height: 0px;
  }
  100% {
    height: 40%;
  }
}

.input-box  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  background: #dce4e7;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:5s;
  animation-delay: 0s;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0px 0px 3px black;
}

.search-input {
  height: 100%;
  width: 70%;
  font-size: 20px;
}

.submit-btn {
 height: 98%;
 width: 30%;
 background: #1b1f2a;
 display: flex;
 justify-content: center;
 align-items: center;
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
 box-shadow: 0px 0px 3px black;
}

.submit-btn-title {
  font-size: 20px;
  color: #dce4e7;
  color: #FFF;
}
